<div class="d-flex align-items-center justify-content-center">
  <h1>Holaaaa!!</h1>

  <% if @user %>
    Logueado como <%= @user.email %>

    <%= button_to "Salir", logout_path, method: :delete %>
  <% end %>
</div>
